.App {
  display: table;
  margin: 0 auto;
}

ul {
  display: flex;
  width: 38rem;
  justify-content: space-around;
  padding: 0;
}

h1 {
  text-align: center;
  letter-spacing: -0.045em;
  font-size: 36px;
  line-height: 42px;
}

li {
  list-style: none;
}

.task-form {
  display: flex;
  justify-content: space-between;
}
